.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
#circle-widget-area-1 {

	.um {
		position: fixed;
		right: 0;
		z-index: 999;

		.um-form {
			padding-bottom: 4px;
			position: relative;

			&.toggled-on {
				border-radius: 10px;
			}
			.um-misc-with-img {
				background-color: $theme-dark__background-header-menu;
				display: flex;
				margin:0;
				padding: 14px 56px 14px 66px;
				color: rgb(255, 255, 255);
				font-size: 100%;
				line-height: 32px;
				text-align: left;
				border-bottom: 0;

				&:hover .um-misc-img {
					background: rgba(55, 55, 55, 1);
				}
				.um-misc-img {
					height: 32px;

					a {
						display: flex;
						width: 62px;
						position: absolute;
						top: 0;
						right: 62px;
						left: auto;
						border-left: 2px solid rgba(55, 55, 55, 1);

						img {
							width: 40px !important;
							height: 40px !important;
							margin: 10px;
							border-radius: 6px;
						}
					}
				}
				div strong {
					display: none;
				}
			}
			.sub-menu {
				display: none;
				margin: 4px 4px 0;
				font-size: 100%;
				border-radius: 8px;
				overflow: hidden;

				li {
					background-color: rgba(48, 48, 48, 1);
					margin-bottom: 2px;
					font-size: 1em;
					line-height: 32px;
					position: relative;
				
					&:last-child {
						margin-bottom: 0;
					}
					&:hover {
						background-color: rgba(48, 48, 48, 1);
					}
					a {
						display: flex;
						padding: 17px 30px 15px;
						color: #fff;
						line-height: 28px;
					}
				}
			}
			.dropdown-toggle {
				background: $theme-dark__background-header-menu;
				width: 60px;
				height: 60px;
				padding-right: 0;
				position: absolute;
				top: 0;
				right: 0;
				border-left: 2px solid rgba(55, 55, 55, 1);

				&:hover {
					background: rgba(55, 55, 55, 1);
					color: $color__main-menu-link !important;
				}
				&.toggled-on {
					background: rgba(48, 48, 48, 1);
					color: $color__main-menu-link !important;

					&:hover {
						background: rgba(66, 66, 66, 1);
					}
				}
			}
		}
		&.um-login {
			.um-form {
				padding: 4px;
				border-radius: 0 0 10px 10px;

				.form-login {
					background-color: $theme-dark__background-header-menu;
					display: flex;
					flex-direction: column;
					margin: 0;
					padding: 10px;
					color: rgb(255, 255, 255);
					font-size: 100%;
					line-height: 32px;
					text-align: left;
					border-radius: 8px;

					.um-row-heading {
						padding: 10px 10px 0;
						font-family: $font__sub;
						font-size: 1.4em;
						font-weight: bold;
					}
					.um-field {
						padding-top: 10px;

						input {
							background-color: $theme-dark__background-header;
							border: 1px solid rgba(255, 255, 255, 0.1) !important;
						}
						.um-field-checkbox {
							top: 0;
							margin: 6px 10px 16px !important;
							cursor: pointer;

						}
					}
					input[type="submit"].um-button {
						margin-top: 1px;
						font-size: 16px;
						text-transform: uppercase !important;
						font-weight: 600 !important;
					}
					.um-col-alt-b {
						padding: 14px 10px 10px;
					}
					.um-field-error {
						border-radius: 6px;

						.um-field-arrow {
							top: -20px;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: $query__small) {
	#circle-widget-area-1 {
		.um {
			min-width: 270px;
			max-width: 100% !important;
			margin-bottom: 0 !important;
			position: relative;
			right: auto;
			z-index: auto;

			.um-form {
				.um-misc-with-img {
					padding: 14px 78px 14px 66px;
					
					.um-misc-img a {
						width: calc(100% - 62px);
						right: auto;
						left: 0;
					}
					div strong {
						display: block;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $query__large) {
	#circle-widget-area-1 {
		position: relative;
		z-index: 1;

		.um {
			max-width: 100% !important;
			margin-bottom: 0 !important;

			.um-form {
				margin: 0 20px 20px;
				padding: 4px;
				border-radius: 10px;

				.um-misc-with-img {
					border-radius: 8px;

					.um-misc-img a {
						border: none;
					}
				}
				.sub-menu {
					margin: 4px 0 0;
				}
				.dropdown-toggle {
					top: 4px;
					right: 4px;
					border-radius: 0 8px 8px 0;
				}
			}
			&.um-login {
				.um-form {
					border-radius: 10px;
				}
			}
		}
	}
}