.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.mb {
	margin-bottom: 10px !important;
}

#content {
	article {
		header {
			padding-top: 84px !important;
		}

		.circle-theme-1 {
			.circle-inner {
				background: $theme-dark__background-header;
				width: calc(100% - 40px);
				height: calc(100% - 40px);
				margin: 20px;
				border: 1px solid rgba(255,255,255,0.1);
				border-radius: 7px;
				overflow: hidden;

				.circle-wrapper {
					padding: 20px;

					ul {
						li {
							margin-left: 16px;
							margin-bottom: 10px;
							list-style: initial;
							list-style-position: inside;
						}
					}
				}
			}
		}
		.circle-theme-2 {
			.circle-inner {
				margin: 10px;

				.headline-3 {
					margin: 10px 10px 0;
					padding: 20px 20px 13px;
					font-size: 1.2em;
					line-height: 1em;
					text-transform: uppercase;
					border-width: 1px;
					border-style: solid;
					border-bottom-width: 4px;
					border-radius: 7px 7px 0 0;
				}
				.circle-excerpt-text {
					background-color: $theme-dark__background-header;
					margin: 0 10px;
					padding: 20px;
					border-right: 1px solid rgba(255, 255, 255, 0.1);
					border-left: 1px solid rgba(255, 255, 255, 0.1);
				}
				.circle-excerpt-text-bottom {
					background-color: $theme-dark__background-header;
					margin: 0 10px 10px;
					padding: 20px;
					border: 1px solid rgba(255, 255, 255, 0.1);
					border-top: none;
					border-radius: 0 0 7px 7px;
				}
				.pagination {
					margin: 0 10px;
					font-size: 1em;
					font-weight: 600;
					line-height: 1em;
					text-align: center;
					text-transform: uppercase;
					border: 1px solid rgba(255, 255, 255, 0.1);
					border-style: solid;
					border-radius: 0 0 7px 7px;
					overflow: hidden;

					.circle-btn-back,
					.circle-btn-next {
						background-color: $theme-dark__background-header !important;
						border: none !important;
						border-radius: 0 !important;
						-moz-border-radius: 0 !important;
						-webkit-border-radius: 0 !important;

						span {
							padding: 17px 20px 15px !important;
							position: relative;
							border: none !important;
							border-radius: 0 !important;
							-moz-border-radius: 0 !important;
							-webkit-border-radius: 0 !important;

							svg {
								background-color: $theme-dark__background-header-menu;
								width: 16px;
								height: 16px;
								margin: 10px;
								padding: 8px;
								position: absolute;
								top: 0;
								border-radius: 50%;
								transition: background-color .2s ease-in-out;
							}
						}
					}
					.circle-btn-back {
						span {
							text-align: right;
							border-right: 1px solid rgba(255, 255, 255, 0.1) !important;

							svg {
								left: 0;
							}
						}
					}
					.circle-btn-next {
						span {
							text-align: left;
							border-left: 1px solid rgba(255, 255, 255, 0.1) !important;

							svg {
								right: 0;
							}
						}
					}
				}
				.su-list-all-post {
					background-color: $theme-dark__background-header;
					margin: 10px;
					font-size: 1em;
					font-weight: 600;
					line-height: 1em;
					text-align: center;
					text-transform: uppercase;
					border: 1px solid rgba(255, 255, 255, 0.1);
					border-radius: 7px;
					overflow: hidden;

					span {
						padding: 17px 20px 15px;
						color: white;
						font-size: 13px;
						line-height: 20px;
					}
					svg {
						background-color: $theme-dark__background-header-menu;
						width: 32px;
						height: 32px;
						margin: 10px;
						padding: 8px;
						border-radius: 50%;
						transition: background-color .2s ease-in-out;
					}
				}
				.event-wrapper {
					padding: 0 10px;

					.headline-3 {
						margin: 10px 0 0;
						text-align: left;
					}
					.pagination {
						margin: 0;
					}
				}
				#navlinks {
					a {
						margin: 10px;
						color: white;
						font-size: 1em;
						font-weight: 600;
						line-height: 1em;
						text-align: center;
						text-transform: uppercase;
					}
				}
				#goomap {
					background-color: $theme-dark__background-header;
					width: calc(100% - 20px);
					min-height: 200px;
					height: 60vh;
					margin: 0 10px 20px;
					border: 1px solid rgba(255, 255, 255, 0.1);
					border-top: none;
					border-radius: 0 0 7px 7px;
				}
			}
		}
		.circle-theme-3 {
			margin: 20px;
			border-radius: 7px;
			overflow: hidden;

			.circle-inner {
				background: $theme-dark__background-header;
				width: calc(100% - 40px);
				height: calc(100% - 40px);
				margin: 20px;
				border: 1px solid rgba(255,255,255,0.1);
			}
			&.circle-section{
				margin: 0 0 20px;
				border-radius: 0;

				.circle-inner {
					background: none;
					width: calc(100% - 40px);
					height: calc(100% - 40px);
					margin: 20px;
					border: none;

					h1 {
						margin-top: 30px;
					}
				}
			}
		}
		#Kalender {
			margin: 10px;

			.widget {
				display: flex;
				flex-direction: column;
				margin: 0;

				.widgettitle {
					margin-top: 10px;
					padding: 20px 20px 13px;
					font-size: 1.2em;
					line-height: 1em;
					text-transform: uppercase;
					border-width: 1px;
					border-style: solid;
					border-bottom-width: 4px;
					border-radius: 7px 7px 0 0;
				}
				table {
					display: flex;
					flex-direction: column;
					margin-bottom: 10px;

					thead {
						margin-bottom: 20px;
						font-size: 1em;
						font-weight: 600;
						line-height: 1em;
						text-align: center;
						text-transform: uppercase;
						border: 1px solid rgba(255, 255, 255, 0.1);
						border-style: solid;
						border-radius: 0 0 7px 7px;
						overflow: hidden;

						tr {
							display: flex;
							justify-content: space-between;

							td {
								padding: 0;

								&.month_name {
									margin: 18px 0 0;
								}
								a {
									position: relative;
									color: #FFFFFF;
									padding: 10px 20px 6px;
									font-size: 13px;
									line-height: 20px;

									svg {
										background-color: $theme-dark__background-header-menu;
										width: 32px;
										height: 32px;
										padding: 8px;
										border-radius: 50%;
										transition: background-color .2s ease-in-out;
									}
								}
							}
						}
					}
					tbody {
						display: flex;
						flex-direction: column;
						padding: 2px;
						border-radius: 8px;
						overflow: hidden;

						tr {
							display: flex;

							td {
								background: $theme-dark__background-header-menu;
								flex-basis: 14.28571428571429%;
								margin: 2px;
								padding: 4% 10px;
								border-radius: 7px;
							}
						}
					}
				}
			}
		}
		.circle-section {
			padding: 0 20px;
		}
		.circle-area {
			flex-grow: 1;

			&.col-xs-12 {
//				flex-basis: auto;
			}
			.circle-loop {
				height: inherit;

				.su-post-inner {
					background-size: cover;
					background-position: top center;
					height: calc(100% - 20px);
					margin: 10px;
					border-radius: 7px;
					overflow: hidden;

					.su-post-link {
						background-size: 100%;
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						height: 100%;
						padding: 200px 20px 20px;
						position: relative;
						z-index: 0;
						color: white;

						&:hover {
						}
						.su-post-title {
							margin-bottom: 10px;
						}
						.su-post-excerpt p {
							margin-bottom: 10px;

							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
			.circle-loop_list {
				.su-list-post_thumbnail-img {
					background-size: cover;
					background-position: center;
					min-width: 80px;
					height: 100%;
					display: block;
					margin-left: 16px;
					border-radius: 4px;
				}
				.su-list-post-wrapper {
					flex-grow: 1;

					.su-list-post-btn {
						width: 100%;
						margin-top: 16px;
						padding-top: 14px;
						border-top: 1px solid rgba(255,255,255,.2);

						span {
							padding: 8px 20px 4px;
							color: rgb(255, 255, 255);
							font-size: 13px;
							line-height: 20px;
							text-transform: uppercase;
						}
					}
				}
			}
			.circle-loop_groups {
				height: auto;

				.su-post-inner {
					background-size: cover;
					background-position: center;

					.su-post-link {
						justify-content: flex-start;
						padding: 20px;

						.su-post-excerpt-icon svg {
							background: rgba(255,255,255,.8);
							width: 100px;
							height: 100px;
							margin: 20px;
							padding: 30px;
							border-radius: 50%;
						}
						.su-post-title {
							font-size: 1.2em;
							line-height: 1.2em;
							text-align: center;
							text-transform: uppercase;
						}
					}
				}
			}
			.circle-loop_list {
				background-size: cover;
				background-position: top center;
				height: calc(100% - 20px);
				margin: 10px;
				padding: 2px;
				border-radius: 7px;
				overflow: hidden;

				.su-list-post-inner {
					padding: 2px;

					.su-list-post-link {
						background: $theme-dark__background-header-menu;
						height: 100%;
						padding: 16px 0;
						color: white;
						border-radius: 4px;

						.su-list-post-title {
							font-size: 1.4em;
							margin-bottom: 5px;
							padding: 0 20px;
						}
						.su-list-post-time {
							margin: 0;
							padding: 0 20px;
						}
						.su-list-post-btn {
							svg {
								background-color: $theme-dark__background-header;
								display: -ms-flexbox;
								width: 32px;
								height: 32px;
								margin-right: 20px;
								padding: 8px;
								border-radius: 50%;
								transition: background-color .2s ease-in-out;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: $query__large) {
	#content {
		article {
			header {
				padding-top: 20px !important;
			}
		}
	}
}
