.scroll-off {
	overflow: hidden;
}
header {
	.login & {
		height: 100%;
		margin: auto;
	}
	.theme-dark.login & {
		border: 2px solid $theme-dark__background-header-border;
	}
	.theme-light.login & {
		border: 2px solid $theme-light__background-header-border;
	}
	.theme-dark & {
		background: $theme-dark__background-header;
		border-right: 2px solid $theme-dark__background-header-border;
	}
	.theme-light & {
		background: $theme-light__background-header;
		border-right: 2px solid $theme-light__background-header-border;
	}
	h1 {
		padding: 22px 40px 18px;
		text-align: center;
		.theme-dark & {
			border-bottom: 2px solid $theme-dark__background-header-border;
		}
		.theme-light & {
			border-bottom: 2px solid $theme-light__background-header-border;
		}
		#name {
			font-weight: 600;
		}
	}
	h2 {
		font-size: 1.2em;
		font-weight: 500;
		padding: 16px 10px;
	}
	#login {
		padding: 20px;
	}
}