.main-navigation {
	display: none;
	max-width: 400px;
	width: 100%;

	&.toggled-on {
		background: $theme-dark__background-header;
		display: block;
		position: fixed;
		z-index: 800;
		height: calc(100vh - 64px);
		max-width: 100vw;
		width: 100vw;
		margin-top: 64px;
		overflow-y: scroll;
	} 
	div {
		display: flex;
		justify-content: center;
		padding: 30px 0;

		#primary-menu {
			min-width: 320px;
		}
		ul {
			justify-content: center;
			max-width: 500px;

			li {
				position: relative;

				a {
					display: flex;
					padding: 17px 30px 15px;
					color: $color__main-menu-link;
					line-height: 28px;

					&:hover {
						background: rgba(55, 55, 55, 1);
					}
					i.dashicons {
						display: flex;
						flex-direction: column;
						justify-content: center;
						margin-top: 0;
						margin-right: 20px;
					}
				}
				ul {
					display: none;
					z-index: 99999;
					padding: 0;

					li {
						a {
							background-color: rgba(44, 44, 44, 1);
							padding-top: 17px;
						}
					}
				}
			}

			.menu-item-has-children > a,
			.page_item_has_children > a {
				padding-right: 70px;
			}
			.menu-item-has-children ul li,
			.page_item_has_children ul li {
				margin-left: 4px;
			}
			.menu-item-has-children ul li .dropdown-toggle .dropdown-icon,
			.page_item_has_children ul li .dropdown-toggle .dropdown-icon {
				background-color: $theme-dark__background-header;
			}
		}
	}
}
.admin-bar .main-navigation.toggled-on {
	height: calc(100vh - 110px);
}
button.dropdown-toggle {
	padding-right: 10px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;

	.dropdown-icon {
		background-color: rgba(44, 44, 44, 1);
		display: flex;
		justify-content: center;
		width: 32px;
		height: 32px;
		margin: 14px;
		padding: 8px;
		position: relative;
		border-radius: 50%;
		transition: background-color .2s ease-in-out;

		.dropdown-symbol {
			color: $color__main-menu-link;
		}
	}
	&.toggled-on {
		.dropdown-icon {
			transition: background-color .2s ease-in-out;

			.dropdown-symbol {
				color: rgba(55, 55, 55, 1) !important;
			}
		}
	}
	&:hover .dropdown-icon {
		background-color: rgba(55, 55, 55, 1);

		.dropdown-symbol {
			color: white !important;
		}
	}
}
@media screen and (min-width: $query__medium) {
	.main-navigation {
		&.toggled-on {
			height: 100%;
			max-width: 320px;
			position: absolute;
			border-right: 2px solid rgba(255, 255, 255, 0.1);
			overflow-y: visible;

			.menu-main-menu-container {
				padding-bottom: 30px;
			}
		}
	}
}
@media screen and (min-width: $query__large) {
	.main-navigation {
		display: block !important;
		height: auto !important;

		.menu-main-menu-container {
			padding-top: 20px;
		}
	}
}