a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
.color-1 {
	a {
		color: $color_purple;
	
		&:visited {
			color: $color_magenta;
		}
		&:hover,
		&:focus,
		&:active {
			color: $color_cyan;
		}
		&:focus {
			outline: thin dotted;
		}
		&:hover,
		&:active {
			outline: 0;
		}
	}
}
.color-2 {
	a {
		color: $color_magenta;
	
		&:visited {
			color: $color_purple;
		}
		&:hover,
		&:focus,
		&:active {
			color: $color_cyan;
		}
		&:focus {
			outline: thin dotted;
		}
		&:hover,
		&:active {
			outline: 0;
		}
	}
}
.color-3 {
	a {
		color: $color_cyan;
	
		&:visited {
			color: $color_purple;
		}
		&:hover,
		&:focus,
		&:active {
			color: $color_magenta;
		}
		&:focus {
			outline: thin dotted;
		}
		&:hover,
		&:active {
			outline: 0;
		}
	}
}
