$color_purple: #6666cc;
$color_magenta: magenta;
$color_cyan: cyan;

$color__main-menu-link: #fff;
$color__main-menu-link-hover: midnightblue;

$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #aaa;
$color__link: $color_purple;
$color__link-visited: $color_magenta;
$color__link-hover: $color_cyan;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$theme-dark__background-body: #222;
$theme-dark__background-header: #262626;
$theme-dark__background-header-border: #2c2c2c;
$theme-dark__text-main: #f1f1f1;

$theme-light__background-body: #f5f5f5;
$theme-light__background-header: #fff;
$theme-light__background-header-border: #eeeeee;
$theme-light__text-main: #404040;
