/*! -------------------------------------------------------------
	Project Name: FooBar - Dashboard
	Project URI: https://github.com/Zettir/kea_front-end_dashboard
	Author: Niels Krahmer Gerdes
	Description: This is a exams project. Front End Elective, Spring 2018, 3. Semester - KEA
	Version: 0.0.6
	License: GNU General Public License v2 or later
   --------------------------------------------------------------
	TABLE OF CONTENTS
   --------------------------------------------------------------
	#1 | Variables
	#2 | Reset
	#3 | Flexboxgrid
	#4 | Typography
	#5 | Elements
	#6 | Forms
	#7 | Navigation
	#8 | Content
   -------------------------------------------------------------- */
@import "variables-site/variables-site";

/* --------------------------------------------------------------
	#2 | Reset
   -------------------------------------------------------------- */
@import "layout/reset";

/* --------------------------------------------------------------
	#3 | Flexboxgrid
   -------------------------------------------------------------- */
@import "layout/flexboxgrid";

/* --------------------------------------------------------------
	#4 | Typography
   -------------------------------------------------------------- */
@import "typography/typography";

/* --------------------------------------------------------------
	#5 | Elements
   -------------------------------------------------------------- */
@import "elements/elements";

/* --------------------------------------------------------------
	#6 | Forms
   -------------------------------------------------------------- */
@import "forms/forms";

/* --------------------------------------------------------------
	#7 | Navigation
   -------------------------------------------------------------- */
@import "navigation/navigation";

/* --------------------------------------------------------------
	#8 | Content
   -------------------------------------------------------------- */
@import "site/site";