/*! -------------------------------------------------------------
	Project Name: FooBar - Dashboard
	Project URI: https://github.com/Zettir/kea_front-end_dashboard
	Author: Niels Krahmer Gerdes
	Description: This is a exams project. Front End Elective, Spring 2018, 3. Semester - KEA
	Version: 0.0.3
	License: GNU General Public License v2 or later
   --------------------------------------------------------------
	TABLE OF CONTENTS
   --------------------------------------------------------------
	#1 | Variables
	#2 | Mixins
	#3 | Reset
	#4 | Flexboxgrid
	#5 | Typography
	#6 | Elements
	#7 | Forms
	#8 | Navigation
		#8.1 | Links
		#8.2 | Menus
	#9 | Accessibility
	#10 | Alignments
	#11 | Clearings
	#12 | Content
		#12.1 | Posts and pages
		#12.2 | Comments
	#13 | Widgets
	#14 | Infinite scroll
	#15 | Media
		#15.1 | Captions
		#15.2 | Galleries
	#16 | Themes
   -------------------------------------------------------------- */
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/* --------------------------------------------------------------
	#3 | Reset
   -------------------------------------------------------------- */
@import "layout/reset";

/* --------------------------------------------------------------
	#4 | Flexboxgrid
   -------------------------------------------------------------- */
@import "layout/flexboxgrid";

/* --------------------------------------------------------------
	#5 | Typography
   -------------------------------------------------------------- */
@import "typography/typography";

/* --------------------------------------------------------------
	#6 | Elements
   -------------------------------------------------------------- */
@import "elements/elements";

/* --------------------------------------------------------------
	#7 | Forms
   -------------------------------------------------------------- */
@import "forms/forms";

/* --------------------------------------------------------------
	#8 | Navigation
   -------------------------------------------------------------- */
@import "navigation/navigation";

/* --------------------------------------------------------------
	#9 | Accessibility
   -------------------------------------------------------------- */
@import "modules/accessibility";

/* --------------------------------------------------------------
	#10 | Alignments
   -------------------------------------------------------------- */
@import "modules/alignments";

/* --------------------------------------------------------------
	#11 | Clearings
   -------------------------------------------------------------- */
@import "modules/clearings";

/* --------------------------------------------------------------
	#12 | Content
   -------------------------------------------------------------- */
@import "site/site";

/* --------------------------------------------------------------
	#13 | Widgets
   -------------------------------------------------------------- */
@import "site/widgets/widgets";

/* --------------------------------------------------------------
	#14 | Infinite scroll
   -------------------------------------------------------------- */
@import "modules/infinite-scroll";

/* --------------------------------------------------------------
	#15 | Media
   -------------------------------------------------------------- */
@import "media/media";

/* --------------------------------------------------------------
	#16 | Themes
   -------------------------------------------------------------- */
@import "themes/themes";