/*! -------------------------------------------------------------
	Project Name: FooBar - Dashboard
	Project URI: https://github.com/Zettir/kea_front-end_dashboard
	Author: Niels Krahmer Gerdes
	Description: This is a exams project. Front End Elective, Spring 2018, 3. Semester - KEA
	Version: 0.0.2
	License: GNU General Public License v2 or later
   --------------------------------------------------------------
	TABLE OF CONTENTS
   --------------------------------------------------------------
	#1 | Variables
	#2 | Mixins
	#3 | Reset
	#4 | Flexboxgrid
	#5 | Typography
	#6 | Elements
	#7 | Forms
	#8 | Navigation
		#8.1 | Links
		#8.2 | Menus
	#9 | Accessibility
	#10 | Alignments
	#11 | Clearings
	#12 | Content
		#12.1 | Posts and pages
		#12.2 | Comments
	#13 | Widgets
	#14 | Infinite scroll
	#15 | Media
		#15.1 | Captions
		#15.2 | Galleries
	#16 | Themes
   -------------------------------------------------------------- */
/* --------------------------------------------------------------
	#3 | Reset
   -------------------------------------------------------------- */
* {
	box-sizing: border-box;
	outline: none;
	list-style: none;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	line-height: 1;
}

a, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

nav ul {
	list-style: none;
}

/*	Text-level semantics
   ---------------------------------------------------------- */
b, strong {
	font-weight: bolder;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

code, kbd, samp, pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	text-decoration: none;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	box-sizing: content-box;
	display: block;
	overflow: visible;
	height: 1px;
	border: 0;
	border-top: 2px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

/*	Embedded content
   ---------------------------------------------------------- */
img {
	border-style: none;
}

/*	Forms
   ---------------------------------------------------------- */
button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button {
	background: none;
	margin: 0;
	padding: 0;
	border: none;
}

button, input {
	overflow: visible;
}

button, select {
	text-transform: none;
}

input, select {
	vertical-align: middle;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/*	Interactive
   ---------------------------------------------------------- */
summary {
	display: list-item;
}

/*	Misc
   ---------------------------------------------------------- */
template,
[hidden],
.none {
	display: none;
}

/* --------------------------------------------------------------
	#4 | Flexboxgrid
   -------------------------------------------------------------- */
.flex {
	box-sizing: border-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}

.row {
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.row.reverse {
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.col {
	-ms-flex-direction: column;
	flex-direction: column;
}

.col.reverse {
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.xs-row, .xs-col-row {
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.xs-row-reverse, .xs-col-row-reverse {
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.xs-col, .xs-row-col {
	-ms-flex-direction: column;
	flex-direction: column;
}

.xs-col-reverse, .xs-row-col-reverse {
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.odr-xs-1 {
	-ms-flex-order: 1;
	    order: 1;
}

.odr-xs-2 {
	-ms-flex-order: 2;
	    order: 2;
}

.odr-xs-3 {
	-ms-flex-order: 3;
	    order: 3;
}

.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	box-sizing: border-box;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.col-xs {
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%;
}

.col-xs-1 {
	-ms-flex-preferred-size: 8.333%;
	flex-basis: 8.333%;
	max-width: 8.333%;
}

.col-xs-2 {
	-ms-flex-preferred-size: 16.667%;
	flex-basis: 16.667%;
	max-width: 16.667%;
}

.col-xs-3 {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	max-width: 25%;
}

.col-xs-4 {
	-ms-flex-preferred-size: 33.333%;
	flex-basis: 33.333%;
	max-width: 33.333%;
}

.col-xs-5 {
	-ms-flex-preferred-size: 41.667%;
	flex-basis: 41.667%;
	max-width: 41.667%;
}

.col-xs-6 {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%;
}

.col-xs-7 {
	-ms-flex-preferred-size: 58.333%;
	flex-basis: 58.333%;
	max-width: 58.333%;
}

.col-xs-8 {
	-ms-flex-preferred-size: 66.667%;
	flex-basis: 66.667%;
	max-width: 66.667%;
}

.col-xs-9 {
	-ms-flex-preferred-size: 75%;
	flex-basis: 75%;
	max-width: 75%;
}

.col-xs-10 {
	-ms-flex-preferred-size: 83.333%;
	flex-basis: 83.333%;
	max-width: 83.333%;
}

.col-xs-11 {
	-ms-flex-preferred-size: 91.667%;
	flex-basis: 91.667%;
	max-width: 91.667%;
}

.col-xs-12 {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;
}

.col-xs-offset-1 {
	margin-left: 8.333%;
}

.col-xs-offset-2 {
	margin-left: 16.667%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-4 {
	margin-left: 33.333%;
}

.col-xs-offset-5 {
	margin-left: 41.667%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-7 {
	margin-left: 58.333%;
}

.col-xs-offset-8 {
	margin-left: 66.667%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-10 {
	margin-left: 83.333%;
}

.col-xs-offset-11 {
	margin-left: 91.667%;
}

.start-xs {
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: start;
}

.center-xs {
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.end-xs {
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: end;
}

.top-xs {
	-ms-flex-align: start;
	align-items: flex-start;
}

.middle-xs {
	-ms-flex-align: center;
	align-items: center;
}

.bottom-xs {
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-item-align: end;
	    align-self: flex-end;
}

.around-xs {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.between-xs {
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.first-xs {
	-ms-flex-order: -1;
	order: -1;
}

.last-xs {
	-ms-flex-order: 1;
	order: 1;
}

@media only screen and (min-width: 480px) {
	.odr-sm-1 {
		-ms-flex-order: 1;
		    order: 1;
	}
	.odr-sm-2 {
		-ms-flex-order: 2;
		    order: 2;
	}
	.odr-sm-3 {
		-ms-flex-order: 3;
		    order: 3;
	}
	.sm-row, .sm-col-row {
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.sm-row-reverse, .sm-col-row-reverse {
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.sm-col, .sm-row-col {
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.sm-col-reverse, .sm-row-col-reverse {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
		box-sizing: border-box;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.col-sm {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}
	.col-sm-1 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%;
	}
	.col-sm-2 {
		-ms-flex-preferred-size: 16.667%;
		flex-basis: 16.667%;
		max-width: 16.667%;
	}
	.col-sm-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}
	.col-sm-4 {
		-ms-flex-preferred-size: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%;
	}
	.col-sm-5 {
		-ms-flex-preferred-size: 41.667%;
		flex-basis: 41.667%;
		max-width: 41.667%;
	}
	.col-sm-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}
	.col-sm-7 {
		-ms-flex-preferred-size: 58.333%;
		flex-basis: 58.333%;
		max-width: 58.333%;
	}
	.col-sm-8 {
		-ms-flex-preferred-size: 66.667%;
		flex-basis: 66.667%;
		max-width: 66.667%;
	}
	.col-sm-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}
	.col-sm-10 {
		-ms-flex-preferred-size: 83.333%;
		flex-basis: 83.333%;
		max-width: 83.333%;
	}
	.col-sm-11 {
		-ms-flex-preferred-size: 91.667%;
		flex-basis: 91.667%;
		max-width: 91.667%;
	}
	.col-sm-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	.col-sm-offset-1 {
		margin-left: 8.333%;
	}
	.col-sm-offset-2 {
		margin-left: 16.667%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-4 {
		margin-left: 33.333%;
	}
	.col-sm-offset-5 {
		margin-left: 41.667%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-7 {
		margin-left: 58.333%;
	}
	.col-sm-offset-8 {
		margin-left: 66.667%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-10 {
		margin-left: 83.333%;
	}
	.col-sm-offset-11 {
		margin-left: 91.667%;
	}
	.start-sm {
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start;
	}
	.center-sm {
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.end-sm {
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;
	}
	.top-sm {
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.middle-sm {
		-ms-flex-align: center;
		align-items: center;
	}
	.bottom-sm {
		-ms-flex-align: end;
		align-items: flex-end;
		-ms-flex-item-align: end;
		    align-self: flex-end;
	}
	.around-sm {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.between-sm {
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.first-sm {
		-ms-flex-order: -1;
		order: -1;
	}
	.last-sm {
		-ms-flex-order: 1;
		order: 1;
	}
}

@media only screen and (min-width: 768px) {
	.odr-md-1 {
		-ms-flex-order: 1;
		    order: 1;
	}
	.odr-md-2 {
		-ms-flex-order: 2;
		    order: 2;
	}
	.odr-md-3 {
		-ms-flex-order: 3;
		    order: 3;
	}
	.md-row, .md-col-row {
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.md-row-reverse, .md-col-row-reverse {
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.md-col, .md-row-col {
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.md-col-reverse, .md-row-col-reverse {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
		box-sizing: border-box;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.col-md {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}
	.col-md-1 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%;
	}
	.col-md-2 {
		-ms-flex-preferred-size: 16.667%;
		flex-basis: 16.667%;
		max-width: 16.667%;
	}
	.col-md-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}
	.col-md-4 {
		-ms-flex-preferred-size: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%;
	}
	.col-md-5 {
		-ms-flex-preferred-size: 41.667%;
		flex-basis: 41.667%;
		max-width: 41.667%;
	}
	.col-md-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}
	.col-md-7 {
		-ms-flex-preferred-size: 58.333%;
		flex-basis: 58.333%;
		max-width: 58.333%;
	}
	.col-md-8 {
		-ms-flex-preferred-size: 66.667%;
		flex-basis: 66.667%;
		max-width: 66.667%;
	}
	.col-md-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}
	.col-md-10 {
		-ms-flex-preferred-size: 83.333%;
		flex-basis: 83.333%;
		max-width: 83.333%;
	}
	.col-md-11 {
		-ms-flex-preferred-size: 91.667%;
		flex-basis: 91.667%;
		max-width: 91.667%;
	}
	.col-md-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	.col-md-offset-1 {
		margin-left: 8.333%;
	}
	.col-md-offset-2 {
		margin-left: 16.667%;
	}
	.col-md-offset-3 {
		margin-left: 25%;
	}
	.col-md-offset-4 {
		margin-left: 33.333%;
	}
	.col-md-offset-5 {
		margin-left: 41.667%;
	}
	.col-md-offset-6 {
		margin-left: 50%;
	}
	.col-md-offset-7 {
		margin-left: 58.333%;
	}
	.col-md-offset-8 {
		margin-left: 66.667%;
	}
	.col-md-offset-9 {
		margin-left: 75%;
	}
	.col-md-offset-10 {
		margin-left: 83.333%;
	}
	.col-md-offset-11 {
		margin-left: 91.667%;
	}
	.start-md {
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start;
	}
	.center-md {
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.end-md {
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;
	}
	.top-md {
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.middle-md {
		-ms-flex-align: center;
		align-items: center;
	}
	.bottom-md {
		-ms-flex-align: end;
		align-items: flex-end;
		-ms-flex-item-align: end;
		    align-self: flex-end;
	}
	.around-md {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.between-md {
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.first-md {
		-ms-flex-order: -1;
		order: -1;
	}
	.last-md {
		-ms-flex-order: 1;
		order: 1;
	}
}

@media only screen and (min-width: 1024px) {
	.odr-lg-1 {
		-ms-flex-order: 1;
		    order: 1;
	}
	.odr-lg-2 {
		-ms-flex-order: 2;
		    order: 2;
	}
	.odr-lg-3 {
		-ms-flex-order: 3;
		    order: 3;
	}
	.lg-row, .lg-col-row {
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.lg-row-reverse, .lg-col-row-reverse {
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.lg-col, .lg-row-col {
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.lg-col-reverse, .lg-row-col-reverse {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
		box-sizing: border-box;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.col-lg {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}
	.col-lg-1 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%;
	}
	.col-lg-2 {
		-ms-flex-preferred-size: 16.667%;
		flex-basis: 16.667%;
		max-width: 16.667%;
	}
	.col-lg-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}
	.col-lg-4 {
		-ms-flex-preferred-size: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%;
	}
	.col-lg-5 {
		-ms-flex-preferred-size: 41.667%;
		flex-basis: 41.667%;
		max-width: 41.667%;
	}
	.col-lg-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}
	.col-lg-7 {
		-ms-flex-preferred-size: 58.333%;
		flex-basis: 58.333%;
		max-width: 58.333%;
	}
	.col-lg-8 {
		-ms-flex-preferred-size: 66.667%;
		flex-basis: 66.667%;
		max-width: 66.667%;
	}
	.col-lg-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}
	.col-lg-10 {
		-ms-flex-preferred-size: 83.333%;
		flex-basis: 83.333%;
		max-width: 83.333%;
	}
	.col-lg-11 {
		-ms-flex-preferred-size: 91.667%;
		flex-basis: 91.667%;
		max-width: 91.667%;
	}
	.col-lg-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	.col-lg-offset-1 {
		margin-left: 8.333%;
	}
	.col-lg-offset-2 {
		margin-left: 16.667%;
	}
	.col-lg-offset-3 {
		margin-left: 25%;
	}
	.col-lg-offset-4 {
		margin-left: 33.333%;
	}
	.col-lg-offset-5 {
		margin-left: 41.667%;
	}
	.col-lg-offset-6 {
		margin-left: 50%;
	}
	.col-lg-offset-7 {
		margin-left: 58.333%;
	}
	.col-lg-offset-8 {
		margin-left: 66.667%;
	}
	.col-lg-offset-9 {
		margin-left: 75%;
	}
	.col-lg-offset-10 {
		margin-left: 83.333%;
	}
	.col-lg-offset-11 {
		margin-left: 91.667%;
	}
	.start-lg {
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start;
	}
	.center-lg {
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.end-lg {
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;
	}
	.top-lg {
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.middle-lg {
		-ms-flex-align: center;
		align-items: center;
	}
	.bottom-lg {
		-ms-flex-align: end;
		align-items: flex-end;
		-ms-flex-item-align: end;
		    align-self: flex-end;
	}
	.around-lg {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.between-lg {
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.first-lg {
		-ms-flex-order: -1;
		order: -1;
	}
	.last-lg {
		-ms-flex-order: 1;
		order: 1;
	}
}

@media only screen and (min-width: 1280px) {
	.odr-xl-1 {
		-ms-flex-order: 1;
		    order: 1;
	}
	.odr-xl-2 {
		-ms-flex-order: 2;
		    order: 2;
	}
	.odr-xl-3 {
		-ms-flex-order: 3;
		    order: 3;
	}
	.xl-row, .xl-col-row {
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.xl-row-reverse, .xl-col-row-reverse {
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.xl-col, .xl-row-col {
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.xl-col-reverse, .xl-row-col-reverse {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
		box-sizing: border-box;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.col-xl {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}
	.col-xl-1 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%;
	}
	.col-xl-2 {
		-ms-flex-preferred-size: 16.667%;
		flex-basis: 16.667%;
		max-width: 16.667%;
	}
	.col-xl-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}
	.col-xl-4 {
		-ms-flex-preferred-size: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%;
	}
	.col-xl-5 {
		-ms-flex-preferred-size: 41.667%;
		flex-basis: 41.667%;
		max-width: 41.667%;
	}
	.col-xl-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}
	.col-xl-7 {
		-ms-flex-preferred-size: 58.333%;
		flex-basis: 58.333%;
		max-width: 58.333%;
	}
	.col-xl-8 {
		-ms-flex-preferred-size: 66.667%;
		flex-basis: 66.667%;
		max-width: 66.667%;
	}
	.col-xl-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}
	.col-xl-10 {
		-ms-flex-preferred-size: 83.333%;
		flex-basis: 83.333%;
		max-width: 83.333%;
	}
	.col-xl-11 {
		-ms-flex-preferred-size: 91.667%;
		flex-basis: 91.667%;
		max-width: 91.667%;
	}
	.col-xl-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	.col-xl-offset-1 {
		margin-left: 8.333%;
	}
	.col-xl-offset-2 {
		margin-left: 16.667%;
	}
	.col-xl-offset-3 {
		margin-left: 25%;
	}
	.col-xl-offset-4 {
		margin-left: 33.333%;
	}
	.col-xl-offset-5 {
		margin-left: 41.667%;
	}
	.col-xl-offset-6 {
		margin-left: 50%;
	}
	.col-xl-offset-7 {
		margin-left: 58.333%;
	}
	.col-xl-offset-8 {
		margin-left: 66.667%;
	}
	.col-xl-offset-9 {
		margin-left: 75%;
	}
	.col-xl-offset-10 {
		margin-left: 83.333%;
	}
	.col-xl-offset-11 {
		margin-left: 91.667%;
	}
	.start-xl {
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start;
	}
	.center-xl {
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.end-xl {
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;
	}
	.top-xl {
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.middle-xl {
		-ms-flex-align: center;
		align-items: center;
	}
	.bottom-xl {
		-ms-flex-align: end;
		align-items: flex-end;
		-ms-flex-item-align: end;
		    align-self: flex-end;
	}
	.around-xl {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.between-xl {
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.first-xl {
		-ms-flex-order: -1;
		order: -1;
	}
	.last-xl {
		-ms-flex-order: 1;
		order: 1;
	}
}

/* --------------------------------------------------------------
	#5 | Typography
   -------------------------------------------------------------- */
.theme-dark {
	color: #f1f1f1;
}

.theme-light {
	color: #404040;
}

body, button, input, select, optgroup, textarea {
	font-family: "Nunito", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Ariel, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

@media screen and (min-width: 480px) {
	body, button, input, select, optgroup, textarea {
		font-size: 16px;
	}
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "Signika", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Ariel, sans-serif;
}

h1 {
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	font-size: 2em;
	line-height: 1.2em;
}

h3 {
	font-size: 1.588em;
	line-height: 1.2em;
}

h4 {
	font-size: 1.26em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.8em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 18.75px;
	font-size: 1.17188rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 18.75px;
	font-size: 1.17188rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* --------------------------------------------------------------
	#6 | Elements
   -------------------------------------------------------------- */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	min-height: 100vh;
}

body.theme-dark {
	background: #222;
}

body.theme-light {
	background: #f5f5f5;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

svg {
	margin: auto;
}

svg.color-1 {
	color: #6666cc;
}

svg.color-2 {
	color: magenta;
}

svg.color-3 {
	color: cyan;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* --------------------------------------------------------------
	#7 | Forms
   -------------------------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}

.su-button.circle-btn-default {
	padding: 4px !important;
	border: none !important;
	border-radius: 10px !important;
}

.su-button.circle-btn-default span {
	background-color: #262626 !important;
	display: -ms-flexbox !important;
	display: flex !important;
	margin: 0 !important;
	padding: 14px 20px !important;
	font-size: 100% !important;
	font-weight: 700 !important;
	line-height: 32px !important;
	text-align: left !important;
	text-transform: uppercase !important;
	border: none !important;
	border-radius: 8px !important;
}

.su-button.circle-btn-default span svg {
	width: 1em !important;
	padding: 5px 16px 5px 0 !important;
	font-size: 1.33333333em !important;
	line-height: .75em !important;
	vertical-align: -.225em !important;
}

.input-container {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	background: transparent;
	display: block;
	width: 100%;
	height: 45px;
	padding: 10px;
	line-height: 1.2;
	border: none;
	border-bottom: 2px solid;
	outline: none;
}

.theme-dark input[type="text"], .theme-dark
input[type="email"], .theme-dark
input[type="url"], .theme-dark
input[type="password"], .theme-dark
input[type="search"], .theme-dark
input[type="number"], .theme-dark
input[type="tel"], .theme-dark
input[type="range"], .theme-dark
input[type="date"], .theme-dark
input[type="month"], .theme-dark
input[type="week"], .theme-dark
input[type="time"], .theme-dark
input[type="datetime"], .theme-dark
input[type="datetime-local"], .theme-dark
input[type="color"], .theme-dark
textarea {
	border-color: #2c2c2c;
}

.theme-light input[type="text"], .theme-light
input[type="email"], .theme-light
input[type="url"], .theme-light
input[type="password"], .theme-light
input[type="search"], .theme-light
input[type="number"], .theme-light
input[type="tel"], .theme-light
input[type="range"], .theme-light
input[type="date"], .theme-light
input[type="month"], .theme-light
input[type="week"], .theme-light
input[type="time"], .theme-light
input[type="datetime"], .theme-light
input[type="datetime-local"], .theme-light
input[type="color"], .theme-light
textarea {
	border-color: #eeeeee;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #aaa;
}

input[type="text"]:focus + .input-focus::after,
input[type="email"]:focus + .input-focus::after,
input[type="url"]:focus + .input-focus::after,
input[type="password"]:focus + .input-focus::after,
input[type="search"]:focus + .input-focus::after,
input[type="number"]:focus + .input-focus::after,
input[type="tel"]:focus + .input-focus::after,
input[type="range"]:focus + .input-focus::after,
input[type="date"]:focus + .input-focus::after,
input[type="month"]:focus + .input-focus::after,
input[type="week"]:focus + .input-focus::after,
input[type="time"]:focus + .input-focus::after,
input[type="datetime"]:focus + .input-focus::after,
input[type="datetime-local"]:focus + .input-focus::after,
input[type="color"]:focus + .input-focus::after,
textarea:focus + .input-focus::after {
	color: #666;
	font-size: 0.8em;
	top: -6px;
}

input[type="text"]:focus + .input-focus::before,
input[type="email"]:focus + .input-focus::before,
input[type="url"]:focus + .input-focus::before,
input[type="password"]:focus + .input-focus::before,
input[type="search"]:focus + .input-focus::before,
input[type="number"]:focus + .input-focus::before,
input[type="tel"]:focus + .input-focus::before,
input[type="range"]:focus + .input-focus::before,
input[type="date"]:focus + .input-focus::before,
input[type="month"]:focus + .input-focus::before,
input[type="week"]:focus + .input-focus::before,
input[type="time"]:focus + .input-focus::before,
input[type="datetime"]:focus + .input-focus::before,
input[type="datetime-local"]:focus + .input-focus::before,
input[type="color"]:focus + .input-focus::before,
textarea:focus + .input-focus::before {
	width: 100%;
}

input[type="text"].has-value + .input-focus::after,
input[type="email"].has-value + .input-focus::after,
input[type="url"].has-value + .input-focus::after,
input[type="password"].has-value + .input-focus::after,
input[type="search"].has-value + .input-focus::after,
input[type="number"].has-value + .input-focus::after,
input[type="tel"].has-value + .input-focus::after,
input[type="range"].has-value + .input-focus::after,
input[type="date"].has-value + .input-focus::after,
input[type="month"].has-value + .input-focus::after,
input[type="week"].has-value + .input-focus::after,
input[type="time"].has-value + .input-focus::after,
input[type="datetime"].has-value + .input-focus::after,
input[type="datetime-local"].has-value + .input-focus::after,
input[type="color"].has-value + .input-focus::after,
textarea.has-value + .input-focus::after {
	color: #666;
	font-size: 0.8em;
	top: -6px;
}

.input-focus {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.input-focus::before {
	background: #6666cc;
	background: linear-gradient(to right, cyan, magenta);
	content: "";
	display: block;
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 0.4s;
}

.input-focus::after {
	content: attr(data-placeholder);
	display: block;
	width: 100%;
	padding-left: 10px;
	font-size: 15px;
	color: #aaa;
	line-height: 1.2;
	position: absolute;
	top: 14px;
	left: 0px;
	transition: all 0.4s;
}

.signin {
	width: 100%;
	display: block;
	margin: 0 auto 10px;
	position: relative;
	z-index: 1;
	border-radius: 25px;
	overflow: hidden;
}

.signin .signin-focus {
	position: absolute;
	z-index: -1;
	width: 300%;
	height: 100%;
	background: #6666cc;
	background: linear-gradient(to left, cyan, magenta, cyan, magenta);
	top: 0;
	left: -100%;
	transition: all 0.4s;
}

.signin:hover .signin-focus {
	left: 0;
}

.signin .signin-btn {
	background: none;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	width: 100%;
	height: 50px;
	padding: 0 20px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	border: none;
}

.signup {
	text-align: center;
	margin-bottom: 10px;
}

.signup .signup-btn {
	display: inline;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/* --------------------------------------------------------------
	#8 | Navigation
   -------------------------------------------------------------- */
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #6666cc;
}

a:visited {
	color: magenta;
}

a:hover, a:focus, a:active {
	color: cyan;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

.color-1 a {
	color: #6666cc;
}

.color-1 a:visited {
	color: magenta;
}

.color-1 a:hover, .color-1 a:focus, .color-1 a:active {
	color: cyan;
}

.color-1 a:focus {
	outline: thin dotted;
}

.color-1 a:hover, .color-1 a:active {
	outline: 0;
}

.color-2 a {
	color: magenta;
}

.color-2 a:visited {
	color: #6666cc;
}

.color-2 a:hover, .color-2 a:focus, .color-2 a:active {
	color: cyan;
}

.color-2 a:focus {
	outline: thin dotted;
}

.color-2 a:hover, .color-2 a:active {
	outline: 0;
}

.color-3 a {
	color: cyan;
}

.color-3 a:visited {
	color: #6666cc;
}

.color-3 a:hover, .color-3 a:focus, .color-3 a:active {
	color: magenta;
}

.color-3 a:focus {
	outline: thin dotted;
}

.color-3 a:hover, .color-3 a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* --------------------------------------------------------------
	Header Menu
   --------------------------------------------------------------*/
.main-navigation {
	display: none;
	max-width: 400px;
	width: 100%;
}

.main-navigation.toggled-on {
	background: #262626;
	display: block;
	position: fixed;
	z-index: 800;
	height: calc(100vh - 64px);
	max-width: 100vw;
	width: 100vw;
	margin-top: 64px;
	overflow-y: scroll;
}

.main-navigation div {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	padding: 30px 0;
}

.main-navigation div #primary-menu {
	min-width: 320px;
}

.main-navigation div ul {
	-ms-flex-pack: center;
	    justify-content: center;
	max-width: 500px;
}

.main-navigation div ul li {
	position: relative;
}

.main-navigation div ul li a {
	display: -ms-flexbox;
	display: flex;
	padding: 17px 30px 15px;
	color: #fff;
	line-height: 28px;
}

.main-navigation div ul li a:hover {
	background: #373737;
}

.main-navigation div ul li a i.dashicons {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	margin-top: 0;
	margin-right: 20px;
}

.main-navigation div ul li ul {
	display: none;
	z-index: 99999;
	padding: 0;
}

.main-navigation div ul li ul li a {
	background-color: #2c2c2c;
	padding-top: 17px;
}

.main-navigation div ul .menu-item-has-children > a,
.main-navigation div ul .page_item_has_children > a {
	padding-right: 70px;
}

.main-navigation div ul .menu-item-has-children ul li,
.main-navigation div ul .page_item_has_children ul li {
	margin-left: 4px;
}

.main-navigation div ul .menu-item-has-children ul li .dropdown-toggle .dropdown-icon,
.main-navigation div ul .page_item_has_children ul li .dropdown-toggle .dropdown-icon {
	background-color: #262626;
}

.admin-bar .main-navigation.toggled-on {
	height: calc(100vh - 110px);
}

button.dropdown-toggle {
	padding-right: 10px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
}

button.dropdown-toggle .dropdown-icon {
	background-color: #2c2c2c;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	width: 32px;
	height: 32px;
	margin: 14px;
	padding: 8px;
	position: relative;
	border-radius: 50%;
	transition: background-color .2s ease-in-out;
}

button.dropdown-toggle .dropdown-icon .dropdown-symbol {
	color: #fff;
}

button.dropdown-toggle.toggled-on .dropdown-icon {
	transition: background-color .2s ease-in-out;
}

button.dropdown-toggle.toggled-on .dropdown-icon .dropdown-symbol {
	color: #373737 !important;
}

button.dropdown-toggle:hover .dropdown-icon {
	background-color: #373737;
}

button.dropdown-toggle:hover .dropdown-icon .dropdown-symbol {
	color: white !important;
}

@media screen and (min-width: 768px) {
	.main-navigation.toggled-on {
		height: 100%;
		max-width: 320px;
		position: absolute;
		border-right: 2px solid rgba(255, 255, 255, 0.1);
		overflow-y: visible;
	}
	.main-navigation.toggled-on .menu-main-menu-container {
		padding-bottom: 30px;
	}
}

@media screen and (min-width: 1024px) {
	.main-navigation {
		display: block !important;
		height: auto !important;
	}
	.main-navigation .menu-main-menu-container {
		padding-top: 20px;
	}
}

/* --------------------------------------------------------------
	#9 | Accessibility
   -------------------------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #21759b;
	display: block;
	font-size: 17.5px;
	font-size: 1.09375rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/* --------------------------------------------------------------
	#10 | Alignments
   -------------------------------------------------------------- */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* --------------------------------------------------------------
	#11 | Clearings
   -------------------------------------------------------------- */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/* --------------------------------------------------------------
	#12 | Content
   -------------------------------------------------------------- */
/* --------------------------------------------------------------
    Header
   -------------------------------------------------------------- */
.scroll-off {
	overflow: hidden;
}

.login header {
	height: 100%;
	margin: auto;
}

.login header #user {
	display: none;
}

.theme-dark.login header {
	border: 2px solid #2c2c2c;
}

.theme-light.login header {
	border: 2px solid #eeeeee;
}

.theme-dark header {
	background: #262626;
	border-right: 2px solid #2c2c2c;
}

.theme-light header {
	background: #fff;
	border-right: 2px solid #eeeeee;
}

header h1 {
	padding: 22px 40px 18px;
	text-align: center;
}

.theme-dark header h1 {
	border-bottom: 2px solid #2c2c2c;
}

.theme-light header h1 {
	border-bottom: 2px solid #eeeeee;
}

header h1 #name {
	font-weight: 600;
}

header h2 {
	font-size: 1.2em;
	font-weight: 500;
	padding: 16px 10px;
}

header #login {
	padding: 20px;
}

header #user #profile #info {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	padding: 20px 20px 10px;
}

header #user #profile #info #loguot, header #user #profile #info #settings {
	display: -ms-flexbox;
	display: flex;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 1.4em;
	border-radius: 50%;
}

.theme-dark header #user #profile #info #loguot, .theme-dark header #user #profile #info #settings {
	background: #2c2c2c;
}

.theme-light header #user #profile #info #loguot, .theme-light header #user #profile #info #settings {
	background: #eeeeee;
}

.color-1 header #user #profile #info #loguot:visited, .color-1 header #user #profile #info #settings:visited {
	color: #6666cc;
}

.color-2 header #user #profile #info #loguot:visited, .color-2 header #user #profile #info #settings:visited {
	color: magenta;
}

.color-3 header #user #profile #info #loguot:visited, .color-3 header #user #profile #info #settings:visited {
	color: cyan;
}

.color-1 header #user #profile #info #loguot:hover, .color-1 header #user #profile #info #settings:hover {
	color: cyan;
}

.color-2 header #user #profile #info #loguot:hover, .color-2 header #user #profile #info #settings:hover {
	color: cyan;
}

.color-3 header #user #profile #info #loguot:hover, .color-3 header #user #profile #info #settings:hover {
	color: magenta;
}

header #user #profile #info #bartenderImages {
	width: 80px;
	height: 80px;
	margin: 0 30px;
}

.color-1 header #user #profile #info #bartenderImages {
	color: #6666cc;
}

.color-2 header #user #profile #info #bartenderImages {
	color: magenta;
}

.color-3 header #user #profile #info #bartenderImages {
	color: cyan;
}

header #user #profile #bartenderName {
	margin-bottom: 0.1em;
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;
}

header #user #profile #bartenderStatus {
	font-size: 0.8em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

header #user #profile #bartenderStatus span {
	font-weight: 600;
}

header #user #profile #bartenderDetail {
	padding: 20px;
}

header #user #profile #bartenderDetail .icon {
	display: -ms-flexbox;
	display: flex;
	width: 60px;
	height: 60px;
	margin: 0 auto 10px;
	font-size: 2em;
	border-radius: 50%;
}

.theme-dark header #user #profile #bartenderDetail .icon {
	background: #2c2c2c;
	color: #f1f1f1;
}

.theme-light header #user #profile #bartenderDetail .icon {
	background: #eeeeee;
	color: #404040;
}

header #user #profile #bartenderDetail .text {
	text-align: center;
}

.theme-dark header #user #profile {
	border-bottom: 2px solid #2c2c2c;
}

.theme-light header #user #profile {
	border-bottom: 2px solid #eeeeee;
}

header #user #team {
	padding: 10px;
}

header #user #team .bartender {
	padding: 10px;
}

header #user #team .bartender .bartenderImages {
	width: 60px;
	height: 60px;
	margin-right: 10px;
}

header #user #team .bartender .bartenderInfo {
	-ms-flex-positive: 1;
	    flex-grow: 1;
}

header #user #team .bartender .bartenderInfo .bartenderName {
	margin-bottom: 0.1em;
	font-size: 1.2em;
	font-weight: 400;
	text-align: left;
}

header #user #team .bartender .bartenderInfo .bartenderStatus {
	font-size: 0.8em;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
}

header #user #team .bartender .bartenderInfo .bartenderStatus span {
	font-weight: 600;
}

/* --------------------------------------------------------------
    Sections
   -------------------------------------------------------------- */
#main {
	min-height: 100vh;
}

.login #main {
	display: none;
}

/* --------------------------------------------------------------
    Footer
   -------------------------------------------------------------- */
.site-footer {
	background-color: #262626;
	padding: 20px;
	color: #fff;
	border-top: 2px solid rgba(255, 255, 255, 0.1);
}

/* --------------------------------------------------------------
	#13 | Widgets
   -------------------------------------------------------------- */
/* --------------------------------------------------------------
	#14 | Infinite scroll
   -------------------------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/* --------------------------------------------------------------
	#15 | Media
   -------------------------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* --------------------------------------------------------------
	#16 | Themes
   -------------------------------------------------------------- */

/*# sourceMappingURL=../source/sass/maps/style.css.map */
