/*! -------------------------------------------------------------
	Project Name: FooBar - Dashboard
	Project URI: https://github.com/Zettir/kea_front-end_dashboard
	Author: Niels Krahmer Gerdes
	Description: This is a exams project. Front End Elective, Spring 2018, 3. Semester - KEA
	Version: 0.0.6
	License: GNU General Public License v2 or later
   --------------------------------------------------------------
	TABLE OF CONTENTS
   --------------------------------------------------------------
	#1 | Variables
	#2 | Reset
	#3 | Flexboxgrid
	#4 | Typography
	#5 | Elements
	#6 | Forms
	#7 | Navigation
	#8 | Content
   -------------------------------------------------------------- */
/* --------------------------------------------------------------
	#2 | Reset
   -------------------------------------------------------------- */
* {
	box-sizing: border-box;
	outline: none;
	list-style: none;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	line-height: 1;
}

a, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

nav ul {
	list-style: none;
}

/*	Text-level semantics
   ---------------------------------------------------------- */
b, strong {
	font-weight: bolder;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

code, kbd, samp, pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	text-decoration: none;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	box-sizing: content-box;
	display: block;
	overflow: visible;
	height: 1px;
	border: 0;
	border-top: 2px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

/*	Embedded content
   ---------------------------------------------------------- */
img {
	border-style: none;
}

/*	Forms
   ---------------------------------------------------------- */
button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button {
	background: none;
	margin: 0;
	padding: 0;
	border: none;
}

button, input {
	overflow: visible;
}

button, select {
	text-transform: none;
}

input, select {
	vertical-align: middle;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/*	Interactive
   ---------------------------------------------------------- */
summary {
	display: list-item;
}

/*	Misc
   ---------------------------------------------------------- */
template,
[hidden],
.none {
	display: none;
}

/* --------------------------------------------------------------
	#3 | Flexboxgrid
   -------------------------------------------------------------- */
.flex {
	box-sizing: border-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}

.row {
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.row.reverse {
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.col {
	-ms-flex-direction: column;
	flex-direction: column;
}

.col.reverse {
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.xs-row, .xs-col-row {
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.xs-row-reverse, .xs-col-row-reverse {
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.xs-col, .xs-row-col {
	-ms-flex-direction: column;
	flex-direction: column;
}

.xs-col-reverse, .xs-row-col-reverse {
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.odr-xs-1 {
	-ms-flex-order: 1;
	    order: 1;
}

.odr-xs-2 {
	-ms-flex-order: 2;
	    order: 2;
}

.odr-xs-3 {
	-ms-flex-order: 3;
	    order: 3;
}

.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	box-sizing: border-box;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.col-xs {
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%;
}

.col-xs-1 {
	-ms-flex-preferred-size: 8.333%;
	flex-basis: 8.333%;
	max-width: 8.333%;
}

.col-xs-2 {
	-ms-flex-preferred-size: 16.667%;
	flex-basis: 16.667%;
	max-width: 16.667%;
}

.col-xs-3 {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	max-width: 25%;
}

.col-xs-4 {
	-ms-flex-preferred-size: 33.333%;
	flex-basis: 33.333%;
	max-width: 33.333%;
}

.col-xs-5 {
	-ms-flex-preferred-size: 41.667%;
	flex-basis: 41.667%;
	max-width: 41.667%;
}

.col-xs-6 {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%;
}

.col-xs-7 {
	-ms-flex-preferred-size: 58.333%;
	flex-basis: 58.333%;
	max-width: 58.333%;
}

.col-xs-8 {
	-ms-flex-preferred-size: 66.667%;
	flex-basis: 66.667%;
	max-width: 66.667%;
}

.col-xs-9 {
	-ms-flex-preferred-size: 75%;
	flex-basis: 75%;
	max-width: 75%;
}

.col-xs-10 {
	-ms-flex-preferred-size: 83.333%;
	flex-basis: 83.333%;
	max-width: 83.333%;
}

.col-xs-11 {
	-ms-flex-preferred-size: 91.667%;
	flex-basis: 91.667%;
	max-width: 91.667%;
}

.col-xs-12 {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;
}

.col-xs-offset-1 {
	margin-left: 8.333%;
}

.col-xs-offset-2 {
	margin-left: 16.667%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-4 {
	margin-left: 33.333%;
}

.col-xs-offset-5 {
	margin-left: 41.667%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-7 {
	margin-left: 58.333%;
}

.col-xs-offset-8 {
	margin-left: 66.667%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-10 {
	margin-left: 83.333%;
}

.col-xs-offset-11 {
	margin-left: 91.667%;
}

.start-xs {
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: start;
}

.center-xs {
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.end-xs {
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: end;
}

.top-xs {
	-ms-flex-align: start;
	align-items: flex-start;
}

.middle-xs {
	-ms-flex-align: center;
	align-items: center;
}

.bottom-xs {
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-item-align: end;
	    align-self: flex-end;
}

.around-xs {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.between-xs {
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.first-xs {
	-ms-flex-order: -1;
	order: -1;
}

.last-xs {
	-ms-flex-order: 1;
	order: 1;
}

@media only screen and (min-width: 480px) {
	.odr-sm-1 {
		-ms-flex-order: 1;
		    order: 1;
	}
	.odr-sm-2 {
		-ms-flex-order: 2;
		    order: 2;
	}
	.odr-sm-3 {
		-ms-flex-order: 3;
		    order: 3;
	}
	.sm-row, .sm-col-row {
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.sm-row-reverse, .sm-col-row-reverse {
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.sm-col, .sm-row-col {
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.sm-col-reverse, .sm-row-col-reverse {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
		box-sizing: border-box;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.col-sm {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}
	.col-sm-1 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%;
	}
	.col-sm-2 {
		-ms-flex-preferred-size: 16.667%;
		flex-basis: 16.667%;
		max-width: 16.667%;
	}
	.col-sm-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}
	.col-sm-4 {
		-ms-flex-preferred-size: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%;
	}
	.col-sm-5 {
		-ms-flex-preferred-size: 41.667%;
		flex-basis: 41.667%;
		max-width: 41.667%;
	}
	.col-sm-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}
	.col-sm-7 {
		-ms-flex-preferred-size: 58.333%;
		flex-basis: 58.333%;
		max-width: 58.333%;
	}
	.col-sm-8 {
		-ms-flex-preferred-size: 66.667%;
		flex-basis: 66.667%;
		max-width: 66.667%;
	}
	.col-sm-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}
	.col-sm-10 {
		-ms-flex-preferred-size: 83.333%;
		flex-basis: 83.333%;
		max-width: 83.333%;
	}
	.col-sm-11 {
		-ms-flex-preferred-size: 91.667%;
		flex-basis: 91.667%;
		max-width: 91.667%;
	}
	.col-sm-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	.col-sm-offset-1 {
		margin-left: 8.333%;
	}
	.col-sm-offset-2 {
		margin-left: 16.667%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-4 {
		margin-left: 33.333%;
	}
	.col-sm-offset-5 {
		margin-left: 41.667%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-7 {
		margin-left: 58.333%;
	}
	.col-sm-offset-8 {
		margin-left: 66.667%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-10 {
		margin-left: 83.333%;
	}
	.col-sm-offset-11 {
		margin-left: 91.667%;
	}
	.start-sm {
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start;
	}
	.center-sm {
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.end-sm {
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;
	}
	.top-sm {
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.middle-sm {
		-ms-flex-align: center;
		align-items: center;
	}
	.bottom-sm {
		-ms-flex-align: end;
		align-items: flex-end;
		-ms-flex-item-align: end;
		    align-self: flex-end;
	}
	.around-sm {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.between-sm {
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.first-sm {
		-ms-flex-order: -1;
		order: -1;
	}
	.last-sm {
		-ms-flex-order: 1;
		order: 1;
	}
}

@media only screen and (min-width: 768px) {
	.odr-md-1 {
		-ms-flex-order: 1;
		    order: 1;
	}
	.odr-md-2 {
		-ms-flex-order: 2;
		    order: 2;
	}
	.odr-md-3 {
		-ms-flex-order: 3;
		    order: 3;
	}
	.md-row, .md-col-row {
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.md-row-reverse, .md-col-row-reverse {
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.md-col, .md-row-col {
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.md-col-reverse, .md-row-col-reverse {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
		box-sizing: border-box;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.col-md {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}
	.col-md-1 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%;
	}
	.col-md-2 {
		-ms-flex-preferred-size: 16.667%;
		flex-basis: 16.667%;
		max-width: 16.667%;
	}
	.col-md-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}
	.col-md-4 {
		-ms-flex-preferred-size: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%;
	}
	.col-md-5 {
		-ms-flex-preferred-size: 41.667%;
		flex-basis: 41.667%;
		max-width: 41.667%;
	}
	.col-md-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}
	.col-md-7 {
		-ms-flex-preferred-size: 58.333%;
		flex-basis: 58.333%;
		max-width: 58.333%;
	}
	.col-md-8 {
		-ms-flex-preferred-size: 66.667%;
		flex-basis: 66.667%;
		max-width: 66.667%;
	}
	.col-md-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}
	.col-md-10 {
		-ms-flex-preferred-size: 83.333%;
		flex-basis: 83.333%;
		max-width: 83.333%;
	}
	.col-md-11 {
		-ms-flex-preferred-size: 91.667%;
		flex-basis: 91.667%;
		max-width: 91.667%;
	}
	.col-md-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	.col-md-offset-1 {
		margin-left: 8.333%;
	}
	.col-md-offset-2 {
		margin-left: 16.667%;
	}
	.col-md-offset-3 {
		margin-left: 25%;
	}
	.col-md-offset-4 {
		margin-left: 33.333%;
	}
	.col-md-offset-5 {
		margin-left: 41.667%;
	}
	.col-md-offset-6 {
		margin-left: 50%;
	}
	.col-md-offset-7 {
		margin-left: 58.333%;
	}
	.col-md-offset-8 {
		margin-left: 66.667%;
	}
	.col-md-offset-9 {
		margin-left: 75%;
	}
	.col-md-offset-10 {
		margin-left: 83.333%;
	}
	.col-md-offset-11 {
		margin-left: 91.667%;
	}
	.start-md {
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start;
	}
	.center-md {
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.end-md {
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;
	}
	.top-md {
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.middle-md {
		-ms-flex-align: center;
		align-items: center;
	}
	.bottom-md {
		-ms-flex-align: end;
		align-items: flex-end;
		-ms-flex-item-align: end;
		    align-self: flex-end;
	}
	.around-md {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.between-md {
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.first-md {
		-ms-flex-order: -1;
		order: -1;
	}
	.last-md {
		-ms-flex-order: 1;
		order: 1;
	}
}

@media only screen and (min-width: 1024px) {
	.odr-lg-1 {
		-ms-flex-order: 1;
		    order: 1;
	}
	.odr-lg-2 {
		-ms-flex-order: 2;
		    order: 2;
	}
	.odr-lg-3 {
		-ms-flex-order: 3;
		    order: 3;
	}
	.lg-row, .lg-col-row {
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.lg-row-reverse, .lg-col-row-reverse {
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.lg-col, .lg-row-col {
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.lg-col-reverse, .lg-row-col-reverse {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
		box-sizing: border-box;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.col-lg {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}
	.col-lg-1 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%;
	}
	.col-lg-2 {
		-ms-flex-preferred-size: 16.667%;
		flex-basis: 16.667%;
		max-width: 16.667%;
	}
	.col-lg-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}
	.col-lg-4 {
		-ms-flex-preferred-size: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%;
	}
	.col-lg-5 {
		-ms-flex-preferred-size: 41.667%;
		flex-basis: 41.667%;
		max-width: 41.667%;
	}
	.col-lg-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}
	.col-lg-7 {
		-ms-flex-preferred-size: 58.333%;
		flex-basis: 58.333%;
		max-width: 58.333%;
	}
	.col-lg-8 {
		-ms-flex-preferred-size: 66.667%;
		flex-basis: 66.667%;
		max-width: 66.667%;
	}
	.col-lg-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}
	.col-lg-10 {
		-ms-flex-preferred-size: 83.333%;
		flex-basis: 83.333%;
		max-width: 83.333%;
	}
	.col-lg-11 {
		-ms-flex-preferred-size: 91.667%;
		flex-basis: 91.667%;
		max-width: 91.667%;
	}
	.col-lg-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	.col-lg-offset-1 {
		margin-left: 8.333%;
	}
	.col-lg-offset-2 {
		margin-left: 16.667%;
	}
	.col-lg-offset-3 {
		margin-left: 25%;
	}
	.col-lg-offset-4 {
		margin-left: 33.333%;
	}
	.col-lg-offset-5 {
		margin-left: 41.667%;
	}
	.col-lg-offset-6 {
		margin-left: 50%;
	}
	.col-lg-offset-7 {
		margin-left: 58.333%;
	}
	.col-lg-offset-8 {
		margin-left: 66.667%;
	}
	.col-lg-offset-9 {
		margin-left: 75%;
	}
	.col-lg-offset-10 {
		margin-left: 83.333%;
	}
	.col-lg-offset-11 {
		margin-left: 91.667%;
	}
	.start-lg {
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start;
	}
	.center-lg {
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.end-lg {
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;
	}
	.top-lg {
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.middle-lg {
		-ms-flex-align: center;
		align-items: center;
	}
	.bottom-lg {
		-ms-flex-align: end;
		align-items: flex-end;
		-ms-flex-item-align: end;
		    align-self: flex-end;
	}
	.around-lg {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.between-lg {
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.first-lg {
		-ms-flex-order: -1;
		order: -1;
	}
	.last-lg {
		-ms-flex-order: 1;
		order: 1;
	}
}

@media only screen and (min-width: 1280px) {
	.odr-xl-1 {
		-ms-flex-order: 1;
		    order: 1;
	}
	.odr-xl-2 {
		-ms-flex-order: 2;
		    order: 2;
	}
	.odr-xl-3 {
		-ms-flex-order: 3;
		    order: 3;
	}
	.xl-row, .xl-col-row {
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.xl-row-reverse, .xl-col-row-reverse {
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.xl-col, .xl-row-col {
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.xl-col-reverse, .xl-row-col-reverse {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
		box-sizing: border-box;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.col-xl {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}
	.col-xl-1 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%;
	}
	.col-xl-2 {
		-ms-flex-preferred-size: 16.667%;
		flex-basis: 16.667%;
		max-width: 16.667%;
	}
	.col-xl-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}
	.col-xl-4 {
		-ms-flex-preferred-size: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%;
	}
	.col-xl-5 {
		-ms-flex-preferred-size: 41.667%;
		flex-basis: 41.667%;
		max-width: 41.667%;
	}
	.col-xl-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}
	.col-xl-7 {
		-ms-flex-preferred-size: 58.333%;
		flex-basis: 58.333%;
		max-width: 58.333%;
	}
	.col-xl-8 {
		-ms-flex-preferred-size: 66.667%;
		flex-basis: 66.667%;
		max-width: 66.667%;
	}
	.col-xl-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}
	.col-xl-10 {
		-ms-flex-preferred-size: 83.333%;
		flex-basis: 83.333%;
		max-width: 83.333%;
	}
	.col-xl-11 {
		-ms-flex-preferred-size: 91.667%;
		flex-basis: 91.667%;
		max-width: 91.667%;
	}
	.col-xl-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	.col-xl-offset-1 {
		margin-left: 8.333%;
	}
	.col-xl-offset-2 {
		margin-left: 16.667%;
	}
	.col-xl-offset-3 {
		margin-left: 25%;
	}
	.col-xl-offset-4 {
		margin-left: 33.333%;
	}
	.col-xl-offset-5 {
		margin-left: 41.667%;
	}
	.col-xl-offset-6 {
		margin-left: 50%;
	}
	.col-xl-offset-7 {
		margin-left: 58.333%;
	}
	.col-xl-offset-8 {
		margin-left: 66.667%;
	}
	.col-xl-offset-9 {
		margin-left: 75%;
	}
	.col-xl-offset-10 {
		margin-left: 83.333%;
	}
	.col-xl-offset-11 {
		margin-left: 91.667%;
	}
	.start-xl {
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start;
	}
	.center-xl {
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.end-xl {
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;
	}
	.top-xl {
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.middle-xl {
		-ms-flex-align: center;
		align-items: center;
	}
	.bottom-xl {
		-ms-flex-align: end;
		align-items: flex-end;
		-ms-flex-item-align: end;
		    align-self: flex-end;
	}
	.around-xl {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.between-xl {
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.first-xl {
		-ms-flex-order: -1;
		order: -1;
	}
	.last-xl {
		-ms-flex-order: 1;
		order: 1;
	}
}

/* --------------------------------------------------------------
	#4 | Typography
   -------------------------------------------------------------- */
.theme-dark {
	color: #f1f1f1;
}

.theme-light {
	color: #404040;
}

body, button, input, select, optgroup, textarea {
	font-family: "Nunito", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Ariel, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "Signika", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Ariel, sans-serif;
	text-align: left;
}

h1, h2 {
	font-size: 1em;
	font-weight: 300;
	line-height: 30px;
}

h1 {
	text-transform: uppercase;
}

h3, h4 {
	margin-bottom: 0.1em;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.8em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* --------------------------------------------------------------
	#5 | Elements
   -------------------------------------------------------------- */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	min-height: 100vh;
}

body.theme-dark {
	background: #222;
}

body.theme-light {
	background: #f5f5f5;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

svg {
	margin: auto;
}

svg.color-1 {
	color: #6666cc;
}

svg.color-2 {
	color: magenta;
}

svg.color-3 {
	color: cyan;
}

.error {
	color: magenta;
}

::-webkit-scrollbar {
	width: 2px;
	top: 0;
	left: 0;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, cyan, magenta);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to top, cyan, magenta);
}

/* --------------------------------------------------------------
	#6 | Forms
   -------------------------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}

.input-container {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	background: transparent;
	display: block;
	width: 100%;
	height: 45px;
	padding: 10px;
	line-height: 1.2;
	border: none;
	border-bottom: 2px solid;
	outline: none;
}

.theme-dark input[type="text"], .theme-dark
input[type="email"], .theme-dark
input[type="url"], .theme-dark
input[type="password"], .theme-dark
input[type="search"], .theme-dark
input[type="number"], .theme-dark
input[type="tel"], .theme-dark
input[type="range"], .theme-dark
input[type="date"], .theme-dark
input[type="month"], .theme-dark
input[type="week"], .theme-dark
input[type="time"], .theme-dark
input[type="datetime"], .theme-dark
input[type="datetime-local"], .theme-dark
input[type="color"], .theme-dark
textarea {
	border-color: #2c2c2c;
}

.theme-light input[type="text"], .theme-light
input[type="email"], .theme-light
input[type="url"], .theme-light
input[type="password"], .theme-light
input[type="search"], .theme-light
input[type="number"], .theme-light
input[type="tel"], .theme-light
input[type="range"], .theme-light
input[type="date"], .theme-light
input[type="month"], .theme-light
input[type="week"], .theme-light
input[type="time"], .theme-light
input[type="datetime"], .theme-light
input[type="datetime-local"], .theme-light
input[type="color"], .theme-light
textarea {
	border-color: #eeeeee;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #aaa;
}

input[type="text"]:focus + .input-focus::after,
input[type="email"]:focus + .input-focus::after,
input[type="url"]:focus + .input-focus::after,
input[type="password"]:focus + .input-focus::after,
input[type="search"]:focus + .input-focus::after,
input[type="number"]:focus + .input-focus::after,
input[type="tel"]:focus + .input-focus::after,
input[type="range"]:focus + .input-focus::after,
input[type="date"]:focus + .input-focus::after,
input[type="month"]:focus + .input-focus::after,
input[type="week"]:focus + .input-focus::after,
input[type="time"]:focus + .input-focus::after,
input[type="datetime"]:focus + .input-focus::after,
input[type="datetime-local"]:focus + .input-focus::after,
input[type="color"]:focus + .input-focus::after,
textarea:focus + .input-focus::after {
	color: #666;
	font-size: 0.8em;
	top: -6px;
}

input[type="text"]:focus + .input-focus::before,
input[type="email"]:focus + .input-focus::before,
input[type="url"]:focus + .input-focus::before,
input[type="password"]:focus + .input-focus::before,
input[type="search"]:focus + .input-focus::before,
input[type="number"]:focus + .input-focus::before,
input[type="tel"]:focus + .input-focus::before,
input[type="range"]:focus + .input-focus::before,
input[type="date"]:focus + .input-focus::before,
input[type="month"]:focus + .input-focus::before,
input[type="week"]:focus + .input-focus::before,
input[type="time"]:focus + .input-focus::before,
input[type="datetime"]:focus + .input-focus::before,
input[type="datetime-local"]:focus + .input-focus::before,
input[type="color"]:focus + .input-focus::before,
textarea:focus + .input-focus::before {
	width: 100%;
}

input[type="text"].has-value + .input-focus::after,
input[type="email"].has-value + .input-focus::after,
input[type="url"].has-value + .input-focus::after,
input[type="password"].has-value + .input-focus::after,
input[type="search"].has-value + .input-focus::after,
input[type="number"].has-value + .input-focus::after,
input[type="tel"].has-value + .input-focus::after,
input[type="range"].has-value + .input-focus::after,
input[type="date"].has-value + .input-focus::after,
input[type="month"].has-value + .input-focus::after,
input[type="week"].has-value + .input-focus::after,
input[type="time"].has-value + .input-focus::after,
input[type="datetime"].has-value + .input-focus::after,
input[type="datetime-local"].has-value + .input-focus::after,
input[type="color"].has-value + .input-focus::after,
textarea.has-value + .input-focus::after {
	color: #666;
	font-size: 0.8em;
	top: -6px;
}

.input-focus {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.input-focus::before {
	background: #6666cc;
	background: linear-gradient(to right, cyan, magenta);
	content: "";
	display: block;
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 0.4s;
}

.input-focus::after {
	content: attr(data-placeholder);
	display: block;
	width: 100%;
	padding-left: 10px;
	font-size: 15px;
	color: #aaa;
	line-height: 1.2;
	position: absolute;
	top: 14px;
	left: 0px;
	transition: all 0.4s;
}

.signin {
	width: 100%;
	display: block;
	margin: 0 auto 10px;
	position: relative;
	z-index: 1;
	border-radius: 25px;
	overflow: hidden;
}

.signin .signin-focus {
	position: absolute;
	z-index: -1;
	width: 300%;
	height: 100%;
	background: #6666cc;
	background: linear-gradient(to left, cyan, magenta, cyan, magenta);
	top: 0;
	left: -100%;
	transition: all 0.4s;
}

.signin:hover .signin-focus {
	left: 0;
}

.signin .signin-btn {
	background: none;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	width: 100%;
	height: 50px;
	padding: 0 20px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	border: none;
}

.signup {
	text-align: center;
	margin-bottom: 10px;
}

.signup .signup-btn {
	display: inline;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/* --------------------------------------------------------------
	#7 | Navigation
   -------------------------------------------------------------- */
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #6666cc;
}

a:visited {
	color: magenta;
}

a:hover, a:focus, a:active {
	color: cyan;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

.color-1 a {
	color: #6666cc;
}

.color-1 a:visited {
	color: magenta;
}

.color-1 a:hover, .color-1 a:focus, .color-1 a:active {
	color: cyan;
}

.color-1 a:focus {
	outline: thin dotted;
}

.color-1 a:hover, .color-1 a:active {
	outline: 0;
}

.color-2 a {
	color: magenta;
}

.color-2 a:visited {
	color: #6666cc;
}

.color-2 a:hover, .color-2 a:focus, .color-2 a:active {
	color: cyan;
}

.color-2 a:focus {
	outline: thin dotted;
}

.color-2 a:hover, .color-2 a:active {
	outline: 0;
}

.color-3 a {
	color: cyan;
}

.color-3 a:visited {
	color: #6666cc;
}

.color-3 a:hover, .color-3 a:focus, .color-3 a:active {
	color: magenta;
}

.color-3 a:focus {
	outline: thin dotted;
}

.color-3 a:hover, .color-3 a:active {
	outline: 0;
}

/* --------------------------------------------------------------
	#8 | Content
   -------------------------------------------------------------- */
/* --------------------------------------------------------------
    Header
   -------------------------------------------------------------- */
.scroll-off {
	overflow: hidden;
}

#main-header {
	height: 100vh;
	border-right: 2px solid;
}

.login #main-header {
	height: 100%;
	margin: auto;
}

.login #main-header #user {
	display: none;
}

.theme-dark.login #main-header {
	border: 2px solid #2c2c2c;
}

.theme-light.login #main-header {
	border: 2px solid #eeeeee;
}

.theme-dark #main-header {
	background: #262626;
	border-color: #2c2c2c;
}

.theme-light #main-header {
	background: #fff;
	border-color: #eeeeee;
}

#main-header h1 {
	padding: 16px 20px 12px;
	text-align: center;
}

.theme-dark #main-header h1 {
	border-bottom: 2px solid #2c2c2c;
}

.theme-light #main-header h1 {
	border-bottom: 2px solid #eeeeee;
}

#main-header h1 #name {
	font-weight: 600;
}

#main-header #login {
	padding: 20px;
}

#main-header #login h2 {
	font-size: 1.2em;
	font-weight: 500;
	padding: 16px 10px;
}

#main-header #user {
	height: calc(100vh - 60px);
	overflow-y: scroll;
}

#main-header #user #profile #info {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	padding: 20px 20px 10px;
}

#main-header #user #profile #info #loguot, #main-header #user #profile #info #settings {
	display: -ms-flexbox;
	display: flex;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 1.4em;
	border-radius: 50%;
}

.theme-dark #main-header #user #profile #info #loguot, .theme-dark #main-header #user #profile #info #settings {
	background: #2c2c2c;
}

.theme-light #main-header #user #profile #info #loguot, .theme-light #main-header #user #profile #info #settings {
	background: #eeeeee;
}

.color-1 #main-header #user #profile #info #loguot:visited, .color-1 #main-header #user #profile #info #settings:visited {
	color: #6666cc;
}

.color-2 #main-header #user #profile #info #loguot:visited, .color-2 #main-header #user #profile #info #settings:visited {
	color: magenta;
}

.color-3 #main-header #user #profile #info #loguot:visited, .color-3 #main-header #user #profile #info #settings:visited {
	color: cyan;
}

.color-1 #main-header #user #profile #info #loguot:hover, .color-1 #main-header #user #profile #info #settings:hover {
	color: cyan;
}

.color-2 #main-header #user #profile #info #loguot:hover, .color-2 #main-header #user #profile #info #settings:hover {
	color: cyan;
}

.color-3 #main-header #user #profile #info #loguot:hover, .color-3 #main-header #user #profile #info #settings:hover {
	color: magenta;
}

#main-header #user #profile #info #bartenderImages {
	width: 80px;
	height: 80px;
	margin: 0 30px;
}

.color-1 #main-header #user #profile #info #bartenderImages {
	color: #6666cc;
}

.color-2 #main-header #user #profile #info #bartenderImages {
	color: magenta;
}

.color-3 #main-header #user #profile #info #bartenderImages {
	color: cyan;
}

#main-header #user #profile #bartenderName {
	text-align: center;
}

#main-header #user #profile #bartenderStatus {
	font-size: 0.8em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

#main-header #user #profile #bartenderStatus span {
	font-weight: 600;
}

#main-header #user #profile #bartenderDetail {
	padding: 20px;
}

#main-header #user #profile #bartenderDetail .icon {
	display: -ms-flexbox;
	display: flex;
	width: 60px;
	height: 60px;
	margin: 0 auto 10px;
	font-size: 2em;
	border-radius: 50%;
}

.theme-dark #main-header #user #profile #bartenderDetail .icon {
	background: #2c2c2c;
	color: #f1f1f1;
}

.theme-light #main-header #user #profile #bartenderDetail .icon {
	background: #eeeeee;
	color: #404040;
}

#main-header #user #profile #bartenderDetail .text {
	text-align: center;
}

.theme-dark #main-header #user #profile {
	border-bottom: 2px solid #2c2c2c;
}

.theme-light #main-header #user #profile {
	border-bottom: 2px solid #eeeeee;
}

#main-header #user #team {
	padding: 10px;
}

#main-header #user #team .bartender {
	padding: 10px;
}

#main-header #user #team .bartender .bartenderImages {
	width: 60px;
	height: 60px;
	margin-right: 10px;
}

#main-header #user #team .bartender .bartenderInfo {
	-ms-flex-positive: 1;
	    flex-grow: 1;
}

#main-header #user #team .bartender .bartenderInfo .bartenderStatus {
	font-size: 0.8em;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
}

#main-header #user #team .bartender .bartenderInfo .bartenderStatus span {
	font-weight: 600;
}

/* --------------------------------------------------------------
    Sections
   -------------------------------------------------------------- */
#main-section {
	min-height: 100vh;
}

.login #main-section {
	display: none;
}

#main-section header {
	padding: 16px 40px 12px;
	border-right: none;
	border-bottom: 2px solid;
}

.theme-dark #main-section header {
	background: #262626;
	border-color: #2c2c2c;
}

.theme-light #main-section header {
	background: #fff;
	border-color: #eeeeee;
}

#main-section header #queue .number {
	margin-left: 10px;
}

#main-section header #time .number {
	margin: 0 6px;
}

#main-section .container {
	-ms-flex-positive: 1;
	    flex-grow: 1;
	max-height: calc(100vh - 60px);
	padding: 10px;
}

#main-section .container #customers {
	padding: 5px;
}

#main-section .container #customers nav {
	margin: 5px 5px 0;
	border: 2px solid;
	border-bottom: none;
}

.theme-dark #main-section .container #customers nav {
	background: #262626;
	border-color: #2c2c2c;
}

.theme-light #main-section .container #customers nav {
	background: #fff;
	border-color: #eeeeee;
}

#main-section .container #customers nav .title {
	padding: 16px 20px 12px;
	position: relative;
	cursor: pointer;
}

.theme-dark #main-section .container #customers nav .title:first-child, .theme-dark #main-section .container #customers nav .title:last-child {
	border-color: #2c2c2c;
}

.theme-light #main-section .container #customers nav .title:first-child, .theme-light #main-section .container #customers nav .title:last-child {
	border-color: #eeeeee;
}

#main-section .container #customers nav .title:first-child {
	border-right: 1px solid;
}

#main-section .container #customers nav .title:last-child {
	border-left: 1px solid;
}

#main-section .container #customers nav .title.active::after {
	background: linear-gradient(to right, cyan, magenta);
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#main-section .container #customers nav .title .number {
	margin-left: 10px;
	font-weight: 600;
}

#main-section .container #customers #in-queue, #main-section .container #customers #in-serving {
	display: none;
	height: calc(100% - 70px);
	margin: 0 5px 5px;
	border: 2px solid;
	overflow-y: scroll;
}

.theme-dark #main-section .container #customers #in-queue, .theme-dark #main-section .container #customers #in-serving {
	background: #262626;
	border-color: #2c2c2c;
}

.theme-light #main-section .container #customers #in-queue, .theme-light #main-section .container #customers #in-serving {
	background: #fff;
	border-color: #eeeeee;
}

#main-section .container #customers #in-queue.active, #main-section .container #customers #in-serving.active {
	display: -ms-flexbox;
	display: flex;
}

#main-section .container #customers #in-queue .customer, #main-section .container #customers #in-serving .customer {
	padding: 20px;
	border-bottom: 2px solid;
}

.theme-dark #main-section .container #customers #in-queue .customer, .theme-dark #main-section .container #customers #in-serving .customer {
	background: #262626;
	border-color: #2c2c2c;
}

.theme-light #main-section .container #customers #in-queue .customer, .theme-light #main-section .container #customers #in-serving .customer {
	background: #fff;
	border-color: #eeeeee;
}

#main-section .container #customers #in-queue .customer:last-child, #main-section .container #customers #in-serving .customer:last-child {
	border-bottom: none;
}

#main-section .container #customers #in-queue .customer .customer-images, #main-section .container #customers #in-serving .customer .customer-images {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 50%;
}

.theme-dark #main-section .container #customers #in-queue .customer .customer-images, .theme-dark #main-section .container #customers #in-serving .customer .customer-images {
	background: #2c2c2c;
	color: #f1f1f1;
}

.theme-light #main-section .container #customers #in-queue .customer .customer-images, .theme-light #main-section .container #customers #in-serving .customer .customer-images {
	background: #eeeeee;
	color: #404040;
}

#main-section .container #customers #in-queue .customer .customer-info .customer-id, #main-section .container #customers #in-serving .customer .customer-info .customer-id {
	margin: auto;
}

#main-section .container #customers #in-queue .customer .customer-info .customer-id .text, #main-section .container #customers #in-serving .customer .customer-info .customer-id .text {
	font-weight: 300;
}

#main-section .container #customers #in-queue .customer .bartender-info .bartender-name, #main-section .container #customers #in-serving .customer .bartender-info .bartender-name {
	margin: auto;
}

#main-section .container #customers #in-queue .customer .bartender-info .bartender-images, #main-section .container #customers #in-serving .customer .bartender-info .bartender-images {
	width: 40px;
	height: 40px;
	margin-left: 10px;
}

#main-section .container #customers #in-queue .customer .order-info .order, #main-section .container #customers #in-serving .customer .order-info .order {
	margin: auto;
}

#main-section .container #customers #in-queue .customer .order-info .order-images, #main-section .container #customers #in-serving .customer .order-info .order-images {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	padding: 10px;
	border-radius: 50%;
}

.theme-dark #main-section .container #customers #in-queue .customer .order-info .order-images, .theme-dark #main-section .container #customers #in-serving .customer .order-info .order-images {
	background: #2c2c2c;
	color: #f1f1f1;
}

.theme-light #main-section .container #customers #in-queue .customer .order-info .order-images, .theme-light #main-section .container #customers #in-serving .customer .order-info .order-images {
	background: #eeeeee;
	color: #404040;
}

#main-section .container #beer-taps {
	padding: 5px;
}

#main-section .container #beer-taps .title {
	padding: 16px 20px 12px;
	margin: 5px 5px 0;
	border: 2px solid;
	border-bottom: none;
}

.theme-dark #main-section .container #beer-taps .title {
	background: #262626;
	border-color: #2c2c2c;
}

.theme-light #main-section .container #beer-taps .title {
	background: #fff;
	border-color: #eeeeee;
}

#main-section .container #beer-taps #taps {
	height: calc(100% - 70px);
	margin: 0 5px 5px;
	border: 2px solid;
	overflow-y: scroll;
}

.theme-dark #main-section .container #beer-taps #taps {
	background: #262626;
	border-color: #2c2c2c;
}

.theme-light #main-section .container #beer-taps #taps {
	background: #fff;
	border-color: #eeeeee;
}

#main-section .container #beer-taps #taps .tap {
	min-height: 90px;
	padding: 20px;
	border-bottom: 2px solid;
}

.theme-dark #main-section .container #beer-taps #taps .tap {
	background: #262626;
	border-color: #2c2c2c;
}

.theme-light #main-section .container #beer-taps #taps .tap {
	background: #fff;
	border-color: #eeeeee;
}

#main-section .container #beer-taps #taps .tap:first-child {
	-ms-flex-positive: 1;
	    flex-grow: 1;
}

#main-section .container #beer-taps #taps .tap:last-child {
	border-bottom: none;
}

#main-section .container #beer-taps #taps .tap .tap-images {
	background-size: cover;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 50%;
}

/*# sourceMappingURL=../source/sass/maps/style.css.map */
