.theme-dark {
	color: $theme-dark__text-main;
}
.theme-light {
	color: $theme-light__text-main;
}
body, button, input, select, optgroup, textarea {
	font-family: $font__main;
	font-size: 16px;
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";